SQLAlchemy                   2.0.43
pyinstaller                  6.15.0
pyinstaller-hooks-contrib    2025.8
PySide6                      6.10.2
PySide6_Addons               6.10.2
bcrypt                       5.0.0
PySide6_Essentials           6.10.2